<div class="max-w-screen-xl px-4 mt-10 mx-auto sm:px-6 lg:px-8">

    <div class="space-y-4">
        <details class="group"
                 open>
            <summary class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50">
                <h5 class="font-medium text-gray-900">
                    Czym się zajmujemy?
                </h5>

                <svg class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 9l-7 7-7-7" />
                </svg>
            </summary>

            <p class="px-4 mt-4 leading-relaxed text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nobis accusamus error inventore mollitia,
                corporis iste consectetur provident tempore repellat doloremque quidem veritatis dicta quod delectus
                eius
                beatae facilis? Aliquid.
                Minus minima alias quam, totam delectus dolorem rerum blanditiis magnam facere maxime eligendi cum,
                ipsum
                provident tenetur nobis accusantium! Vero laudantium a optio est expedita quod? Saepe eveniet inventore
                quis?
                Soluta voluptas rerum quam eveniet autem est sequi quae fugiat voluptate inventore quaerat dignissimos
                incidunt repudiandae quod iusto, enim ratione fuga in porro qui labore esse maxime. Nobis, sit ea.
                Quisquam maiores, ratione ullam sapiente porro natus officia quibusdam sed nostrum ad provident. Ut
                repellendus eligendi molestiae recusandae aspernatur praesentium suscipit atque vitae nemo, saepe
                tempore
                deserunt perferendis necessitatibus dolore!
                Doloribus nihil in aut aspernatur qui, repellat beatae. Velit aliquam, quod voluptatem id quidem dolorem
                quos voluptatum deleniti quibusdam quas suscipit ipsa enim molestias molestiae laborum vitae, dolor
                officia
                nemo!
                Ducimus, perspiciatis quasi. Asperiores similique illum dolorum. Placeat, repellat? Minima eligendi
                doloribus saepe, incidunt labore architecto totam nobis deleniti fuga distinctio temporibus numquam ab
                quidem perspiciatis ipsa odio, laudantium adipisci.
                Vero consequatur mollitia excepturi dicta natus! Perferendis, maiores laboriosam iusto maxime ab,
                molestiae
                assumenda praesentium consequuntur libero facilis quo magni illum autem culpa nostrum ducimus
                consectetur?
                Distinctio iure reprehenderit dicta!
                Deleniti, iure nihil magnam soluta architecto tempore velit ea porro. Quidem deserunt culpa repudiandae
                iste
                repellat nihil beatae veniam quasi nesciunt explicabo quibusdam recusandae, eum dolorum nulla quo
                tenetur
                incidunt!
                Optio vitae magnam pariatur tempora ipsum itaque esse dolores molestiae iusto laudantium dolorum sequi
                error
                accusantium sed neque cumque iure, commodi exercitationem porro aspernatur! Tempora sequi assumenda eius
                excepturi nesciunt.
                Minus quos libero suscipit vero eum doloremque quam mollitia, consequuntur neque, nihil odio in dolore
                officiis voluptatem iste ad pariatur tempore? Laborum, eum rerum autem cum eligendi labore sit
                quibusdam?
            </p>
        </details>

        <details class="group">
            <summary class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50">
                <h5 class="font-medium text-gray-900">
                    Od kiedy działamy?
                </h5>

                <svg class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 9l-7 7-7-7" />
                </svg>
            </summary>

            <p class="px-4 mt-4 leading-relaxed text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus maxime itaque exercitationem, accusantium
                debitis veniam impedit aspernatur dignissimos nesciunt molestiae. Molestias nesciunt corrupti ut
                deserunt
                saepe, minima officia incidunt ipsum?
                Possimus, explicabo soluta rerum voluptates nemo quaerat quisquam voluptatem impedit qui blanditiis ad
                exercitationem, ab, culpa consequuntur eaque officia quod veritatis accusamus similique. Illo delectus
                architecto totam, quam quo fugiat!
                Voluptatem a voluptatibus fugiat rerum voluptates sequi corrupti quis modi magni! Fuga, iste cumque?
                Porro,
                atque voluptas? Illo debitis vero hic dicta culpa doloribus temporibus, aperiam quo non, incidunt sit?
                Dolorum unde officiis optio animi. Modi assumenda nam aliquid placeat repellat voluptate eius? Nesciunt
                veniam et quae amet optio, culpa repellat, officia quibusdam, voluptatem aspernatur corrupti? Dolorem
                maxime
                quis nemo.
            </p>
        </details>
    </div>
</div>
