<section class="text-gray-900 bg-white mt-10">
    <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg">
            <h2 class="text-black text-3xl font-bold sm:text-4xl">Skontaktuj się z nami</h2>

            <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ad doloribus sed totam. Dolorem
                sapiente id, ab ipsa adipisci totam consectetur, libero esse molestias quo excepturi praesentium
                quibusdam enim iure.
            </p>
        </div>

        <div class="text-center grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3">
            <section class="flex flex-col items-center">
                <span class="p-4 bg-gray-50 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-7 h-7 text-gray-900"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path
                              d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z">
                        </path>
                    </svg>
                </span>

                <h3 class="mt-4 text-xl font-bold ">Telefonicznie</h3>

                <p class="mt-1 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
                    possimus adipisci distinctio alias voluptatum blanditiis laudantium.
                </p>
            </section>

            <section class="flex flex-col items-center">
                <span class="p-4 bg-gray-50 rounded-lg">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-7 h-7 text-gray-900"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path
                              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z">
                        </path>
                    </svg>
                </span>

                <h3 class="mt-4 text-xl font-bold ">Mailowo</h3>

                <p class="mt-1 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
                    possimus adipisci distinctio alias voluptatum blanditiis laudantium.
                </p>
            </section>

            <section class="flex flex-col items-center">
                <span class="p-4 bg-gray-50 rounded-lg">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-7 h-7 text-gray-900"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path
                              d="M12 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm5-4h2v.4c-.1 2.2-.8 3.9-2.3 5.1-.5.4-1.1.7-1.7.9V22h-2v-6h-2v6H9V10.1c-.3.1-.5.2-.6.3-.9.7-1.39 1.6-1.4 3.1v.5H5v-.5c0-2 .71-3.59 2.11-4.79C8.21 7.81 10 7 12 7s2.68-.46 3.48-1.06C16.48 5.14 17 4 17 2.5V2zM4 16h3v6H4v-6z">
                        </path>
                    </svg>
                </span>

                <h3 class="mt-4 text-xl font-bold ">Osobiście</h3>

                <p class="mt-1 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
                    possimus adipisci distinctio alias voluptatum blanditiis laudantium.
                </p>
            </section>


        </div>

    </div>
</section>
